@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&family=Dancing+Script:wght@700&display=swap');


.bg{
    background-color: rgb(127, 170, 255);
}

i{
    cursor: pointer;
  }


@media (max-width: 1000px) {
.shop {
      grid-template-columns: repeat(2, 223px);
    }  }

@media (max-width: 500px) {
    .shop {
      grid-template-columns: repeat(1, 223px);
    }
  }

  
.newbar {
    color:aliceblue;
    font-size: large;
    position:relative;
    background-color: rgb(145, 148, 240);
    width: 97.5%;
    display:flex;
    justify-content: space-between;
    padding: 18px;
    margin: 0;
    margin-left: 5px; 
    margin-right: 5px;
}


#top{
    color: beige;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Acme', cursive;
    text-decoration: overline;
    background-size:auto;
    background-color:rgb(114, 114, 250);
}
*{
    font-family: "Oswald" ;
}

.cart{
    position: fixed;
    top: 0;
    right: -100%;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background : var(--bg-color);
    box-shadow: -2px 0 4px hsl(0 4% 15% /10%);
    transition: 0.3s;
}
.cart-active{
    right:0;
}
.cart-title{
    text-align: center;
}

.cart-box{
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
    color: antiquewhite;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 10px;
}

.detail-box{
    display: grid;
    row-gap: 0.5rem;
}

.cart-product-title {
    font-size:medium ;
}


.add-cart {
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.price {
    font-weight: 500;
}
.add-cart-hover{
    background:hsl(249,32%,17%);
}
.btn-buy:hover {
    background: var(--text-color);
}

#close-cart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    color :blanchedalmond;
}
.box1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 100px;
    background-color: rgb(26, 130, 215);
    scroll-padding-top: 60px;
}

.product {
    margin: 10px;
    border: 10px solid;
    width: 25%;
    height: 400px;
    border-color: beige;
    color: aliceblue;
    text-align: center;
    text-decoration: double;
  
}

.product img {
    width: 100%;
    height: 55%;
    background-color: rgb(114, 114, 250);
}

.product span{
    font-weight:bolder;
    font-size: 3;
    color: aliceblue;
    
}

.product h2{
    margin: 10px;
    font-weight: 500;
}
